<div id="header">
  <div id="username"><%= link_to "Moshimoshi", root_path %></div>
</div>

<h2>Page not found.</h2>

<div style="font-size: 150%;">
  <p>Well, you broke it. The page you're looking for doesn't exist -- maybe you typed the wrong username, or we're just totally out of sync here. For now, might I suggest that you click this button below?</p>
  <%= button_to "Back to homepage", root_path, class: "btn" %>
</div>