<div id="header">
  <div id="username"><%= link_to "Moshimoshi", root_path %></div>
</div>

<h2>Change rejected.</h2>

<div style="font-size: 150%;">
  <p>Your change has been rejected. I don't know what you're up to, but it sounds dangerous. For now, might I suggest that you click this button below?</p>
  <%= button_to "Back to homepage", root_path, class: "btn" %>
</div>