<div id="header">
  <div id="username"><%= link_to "Ohayo", root_path %></div>
</div>

<h2>API</h2>

<div>
  <h3>Requesting a user bio</h3>
  <p>Requesting a user bio is the single API call that is currently implemented on Ohayo.</p>
  <p>Ohayo follows Gravatar's implementation of retrieval, by requiring a MD5-generated hash of the user's email that you are requesting. In Ruby, this might look like:</p>
  <pre>
  require 'digest/md5'
  email = params[:email].downcase
  hash = Digest::MD5.hexdigest(email)
  </pre>

  <p>You can then use a GET call to request the bio -- in curl, this could look like:</p>
  <pre>
  $ curl http://ohayo.io/api/users/show/(hash)
  >> Hello, world!
  </pre>

  <h3>Rails helper</h3>
  <p>Ohayo has an official Rails text helper that can be integrated into your Rails app. Read more about it at its home on <%= link_to "Github", "https://github.com/imkmf/ohayo-rails-helper" %>.</p>

  <p>If you have additional functionality you would like to see added to Ohayo, please <%= link_to "contact us", "mailto:kristian@kristianfreeman.com" %>.</p>

</div>
