<div id="header">
  <div id="username"><%= link_to "Ohayo", root_path %></div>
</div>

<h2>Tell us a bit about yourself.</h2>

<div style="font-size: 150%;">
  <p>Ohayo is like <%= link_to "Gravatar", "http://gravatar.com" %> for bios. Set your bio here, and given the right service, you'll never have to do it again. Ohayo supports <strong>one-hundred-and-forty characters of descriptive goodness</strong>: keep it light, and we'll make sure it gets to the right places.</p>
  <p>Sound good? Let's give it a shot.</p>
  <%= button_to "Sign up now", new_user_registration_path, method: "get", class: "btn" %>

  <p>Already a member?</p>
  <%= button_to "Log in", login_path, method: "get", class: "btn" %>
</div>
