html {
  background-image: url("/assets/bg.png");
  font-family: 'Cabin', sans-serif;
  margin: 0 10% 0 10%;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#little-guy {
  color: #bd4545;
  font-family: 'Lobster', sans-serif;
}

h2 {
  font-variant: small-caps;
}

#header {
  color: #bd4545;
  margin-left: 1em;
  font-family: 'Lobster', sans-serif;
}

#menu {
  float: right;
  font-family: 'Cabin', sans-serif;
  ul {
    list-style-type: none;
  }
}

#username {
  display: inline-block;
  font-size: 2.8em;
}

#user_bio {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  resize: none;
  border: none;
  background-color: inherit;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.editme {
  margin-left: 5px;
  font-size: 1.4em;
  height: 50px;
  font-family: 'Lobster', sans-serif;
}

.warning { color: red; }

.counter {
  display: none;
  margin-top: 10px;
}

.exceeded { color: red; }

#submit {
  display: none;
  padding: 10px;
}

#submit-box {
  text-align: center;
}

#edit_user {
  border-left: 3px solid #666;
  margin-left: 10px;
  padding-left: 10px;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.notice {
  border-radius: 5px;
  border: 1px solid darken(whitesmoke, 20%);
  background-color: whitesmoke;
  padding: 5px;
}

.grav {
  display: inline-block;
  margin-left: 5px;
  border-radius: 40px;
}

.inline {
  display: inline-block;
}

.float-left {
  float: left;
  margin: 40px;
}

.float-right {
  float: right;
}

.bio {
  margin-top: 70px;
  width: 500px;
  padding-left: 5px;
}
